.navbar {
    height: 70px;
}

.navbar-brand {
    margin-left: 100px;
    z-index: 100;
}

.nav {
    margin-bottom: 75px;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 80px;
    margin-right: 100px;
    cursor: pointer;
    background-color: darkred;
}

.navbar-inner {
    text-decoration: none;
    margin-bottom: 10px;
}

.banner {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.grid-project {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    padding-top: 100px;
    justify-content: center;
    grid-gap: 50px;
}

.project-item {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;

}

.project-item img {
    height: 240px;
    width: 250px;
}

.project-container {
    background-color: white;
    height: 450px;
    width: 250px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-container:hover {
    transform: scale(1.1);
}

.project-container {
    transition: 0.2s;
}

.project-description span {
    text-align: center;
    width: 100%;
    margin: auto;
}

.project-button {
    margin-top: 65px;
    text-align: center;
}

.project-button a {
    background-color: darkred;
    padding: 10px;
    color: white;
    width: 10px;
    text-decoration: none;
}

.project-button a:hover {
    background-color: #730000;
}

.wrapper {
    height: 500px;
    margin-top: 200px;
}

.banner2 {
    width: 100%;
}

.footer {
    height: 200px;
}

.list-group-item {}
